---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero.astro";
import SectionTitle from "@components/SectionTitle.astro";
import PlaceDate from "@sections/PlaceDate.astro";
import CallToAttention from "@components/CallToAttention.astro";
import Transport from "@sections/Transport.astro";
import Recomendations from "@sections/Recomendations.astro";
import WeddingList from "@sections/WeddingList.astro";
---

<Layout title="Boda de Luis y Pilly">
  <main transition:animate="slide">
    <Hero />
    <PlaceDate />
    <CallToAttention />
    <SectionTitle
      title="Transporte | El Puerto de Santa María - Jerez de la Frontera"
    />
    <Transport />
    <Recomendations />
    <SectionTitle title="Lista de bodas" />
    <WeddingList />
  </main>
</Layout>
