---
import Logo from "@components/Logo.astro";
---

<header
  class="header sticky top-0 bg-white bg-opacity-70 shadow-md sm:flex items-center sm:justify-between px-8 py-02 z-50 hidden sm:visible"
>
  <!-- logo -->
  <Logo />

  <!-- navigation -->
  <nav class="nav font-semibold text-lg font-salsa invisible sm:visible">
    <ul class="flex items-center">
      <li
        class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer active"
      >
        <a href="/">Home</a>
      </li>
      <li
        class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer"
      >
        <a href="#confirma">Confirma</a>
      </li>
      <li
        class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer"
      >
        <a href="#lugar">Detalles</a>
      </li>
      <li
        class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer"
      >
        <a href="#transport">Transporte</a>
      </li>
      <li
        class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer"
      >
        <a href="#recomendations">Recomendaciones</a>
      </li>
      <li
        class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer"
      >
        <a href="#list">Lista de bodas</a>
      </li>
      <li
        class="p-4 border-b-2 border-green-500 border-opacity-0 hover:border-opacity-100 hover:text-green-500 duration-200 cursor-pointer"
      >
        <a href="#contact">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
