<section id="hero">
  <div class="flex flex-col items-center justify-start h-screen">
    <div class="rounded-full">
      <h1 class="text-7xl text-[#000232] font-greatvibes mt-10">
        Luis y Pilar
      </h1>
      <h2 class="font-greatvibes text-3xl text-[#000232]">4 de Mayo 2024</h2>
    </div>
  </div>
  <div
    class={"z-[-10] absolute top-0 inset-0 opacity-40 sm:bg-[size:100%] sm:bg-center bg-left bg-no-repeat h-auto"}
    style={`background-image:url('./imgs/hero.webp')`}
  >
  </div>
</section>
