<section id="hero">
  <div
    class="flex flex-col items-center justify-start sm:h-screen mb-96 sm:mx-56 sm:mb-0"
  >
    <div class="rounded-lg bg- mt-3 p-4"></div>
  </div>
  <div
    class={"z-[-10] absolute top-0 inset-0 opacity-100 sm:bg-[size:76.5%] sm:bg-center bg-left bg-no-repeat h-auto invisible sm:visible"}
    style={`background-image:url('./imgs/oilhero.webp')`}
  >
  </div>
  <div
    class={"z-[-10] absolute top-[-100px] inset-0 opacity-100 bg-[zoom:10%] bg-contain bg-no-repeat h-auto sm:hidden"}
    style={`background-image:url('./imgs/oilhero.webp')`}
  >
  </div>
</section>
