<h1 class="sm:w-6/12 p-4">
  <a href="/" class="font-greatvibes text-5xl text-[#084520] font-bold">
    <h1>Pilly y Luis</h1><h2 class="font-greatvibes text-2xl font-semibold">
      4 de mayo 2024
    </h2></a
  >
</h1>
