---
interface Props {
  text: string;
  url: string;
}

const { text, url } = Astro.props;
---

<a
  href={url}
  type="button"
  class="rounded border-2 m-3 border-neutral-50 px-[46px] pt-[14px] pb-[12px] text-sm font-medium font-salsa uppercase text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-100 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200"
  data-te-ripple-init
  data-te-ripple-color="light"
>
  {text}
</a>
