---
import { propsToFilename } from "astro/assets/utils";

interface Props {
  name: string;
  telephone: string;
  address: string;
  descripcion?: string;
}

const { name, telephone, address, descripcion } = Astro.props;
---

<div class="col-span-1 text-black font-salsa p-3">
  <h2 class="text-2xl font-bold">{name}</h2>
  {descripcion && <p class="text-sm">{descripcion}</p>}

  <p class="text-lg">{address}</p>
  <p class="text-lg">Teléfono: {telephone}</p>
</div>
