<div
  class="relative overflow-hidden aspect-video bg-cover bg-no-repeat bg-[50%] bg-[url('/imgs/colombia.webp')] sm:h-[700px] h-[900px] rounded-lg"
>
  <div
    class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsla(130,36%,32%,0.70)] bg-fixed"
  >
    <div class="flex h-full items-center justify-center">
      <div class="px-6 text-center text-white md:px-12">
        <div class="p-10">
          <h2
            class="mb-12 sm:text-5xl text-6xl leading-tight tracking-tight font-greatvibes"
          >
            Actividades Colombia
          </h2>
        </div>
        <ul
          class="bg-[hsla(130,36%,17%,0.80)] font-salsa p-3 text-sm sm:text-lg rounded-lg"
        >
          <li class="my-2">
            Moto de agua en Guatapé - <span class="font-bold">80€</span>
          </li>
          <li class="my-2">
            Rafting en el río Calderas - <span class="font-bold">60€</span>
          </li>
          <li class="my-2">
            Senderismo y tirolina en Los Saltos - <span class="font-bold"
              >120€</span
            >
          </li>
          <li class="my-2">
            Vuelo en parapente por Medellín - <span class="font-bold">100€</span
            >
          </li>
          <li class="my-2">
            Excursión a las Islas del Rosario - <span class="font-bold"
              >180€</span
            >
          </li>
          <li class="my-2">
            Paseo a caballo por los cerros de Guadalupe y Monserrate - <span
              class="font-bold">200€</span
            >
          </li>
          <li class="my-2">
            Tour de 3 días por Caño Cristales y la Sierra de La Macarena - <span
              class="font-bold">340€</span
            >
          </li>
          <li class="my-2">
            Excursión a la Reserva Natural Marasha - <span class="font-bold"
              >280€</span
            >
          </li>
          <li class="my-2">
            Senderismo por la selva amazónica - <span class="font-bold"
              >180€</span
            >
          </li>
          <li class="my-2">
            Paseo privado en lancha por Cayo Acuario - <span class="font-bold"
              >480€</span
            >
          </li>
          <li class="my-2">
            Alquiler de lancha con patrón en San Andrés - <span
              class="font-bold">375€</span
            >
          </li>
          <li class="my-2">
            Curso buceo en Santa Marta - <span class="font-bold">400€</span>
          </li>
        </ul>
        <div class="p-3">
          <span class="text-3xl mt-5 font-salsa"
            >ES86 0182 2222 1111 5555 1111</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
