---
import { Image } from "astro:assets";
import Chruch from "../assets/photos/iglesia.webp";
---

<section
  class="w-full bg-gradient-to-br from-slate-100 via-gray-300 to-[#78716c00]"
  id="lugar"
>
  <div class="grid sm:grid-cols-2" transition:animate="fade">
    <div
      class="col-span-1 flex flex-col justify-center items-center text-center"
    >
      <span class="font-greatvibes sm:text-5xl mt-5 p-3 text-3xl"
        >4 de mayo 2024 13:00</span
      >
      <span class="font-greatvibes sm:text-5xl p-3 text-3xl"
        >Iglesia de San Migel</span
      >
      <span>Pl. San Miguel, s/n, 11403 Jerez de la Frontera</span>
      <span class="font-greatvibes sm:text-5xl font-bold my-5 p-3 text-3xl"
        >Celebración:</span
      >
      <span class="font-greatvibes sm:text-5xl p-3 text-3xl">Viña Bristol</span>
      <span
        >Carretera de Cortes, A -2003, C. Alenar, 11593 Jerez de la Frontera</span
      >
    </div>
    <div class="col-span-1 p-5">
      <div class="grid grid-row">
        <Image
          class="mt-5 rounded-lg w-96 aspect-square"
          src={Chruch}
          alt="Iglesia donde tiene lugar la boda"
        />
      </div>
    </div>
  </div>
</section>
