---
import { Image } from "astro:assets";
import Chruch from "../assets/photos/iglesia.webp";
---

<section class="w-full" id="lugar">
  <div class="grid grid-cols-2" transition:animate="fade">
    <div class="col-span-1 flex flex-col justify-center items-center">
      <span class="font-greatvibes text-5xl mt-5">4 de mayo 2024 19:00</span>
      <span class="font-greatvibes text-5xl">Iglesia Puerto de Santa Maria</span
      >
      <span class="font-greatvibes text-5xl font-bold my-5">Celebración:</span>
      <span class="font-greatvibes text-5xl">Restaurante Las Redes</span>
    </div>
    <div class="col-span-1">
      <div class="grid grid-row">
        <Image
          class="mt-5 rounded-lg"
          src={Chruch}
          alt="Iglesia donde tiene lugar la boda"
        />
      </div>
    </div>
  </div>
</section>
