---
import RecomendationButton from "@components/RecomendationButton.astro";
---

<section class="mb-32 mt-10 p-8 xl:p-0" id="recomendations">
  <div
    class="relative overflow-hidden bg-cover bg-no-repeat bg-[50%] bg-[url('/imgs/puerto.webp')] h-[500px] rounded-xl"
  >
    <div
      class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-[hsla(0,0%,0%,0.60)] bg-fixed"
    >
      <div class="flex h-full items-center justify-center">
        <div class="px-6 text-center text-white md:px-12">
          <h2
            class="mb-12 sm:text-7xl text-3xl leading-tight tracking-tight font-greatvibes"
          >
            Recomendaciones
          </h2>
          <div class="grid grid-rows-3 sm:hidden">
            <div class="row-span-1 mb-10">
              <RecomendationButton
                url="/recomendations#hoteles"
                text="HOTELES"
              />
            </div>
            <div class="row-span-1 mb-7">
              <RecomendationButton
                url="/recomendations#peluquerias"
                text="PELUQUERIAS"
              />
            </div>
            <div class="row-span-1 mb-7">
              <RecomendationButton
                url="/recomendations#restaurantes"
                text="RESTAURANTES"
              />
            </div>
          </div>
          <div class="hidden sm:flex">
            <RecomendationButton url="/recomendations#hoteles" text="HOTELES" />
            <RecomendationButton
              url="/recomendations#peluquerias"
              text="PELUQUERIAS"
            />
            <RecomendationButton
              url="/recomendations#restaurantes"
              text="RESTAURANTES"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
