<section class="w-full p-10" id="transport">
  <div class="grid grid-cols-2">
    <div class="col-span-1 flex flex-col sm:justify-center items-center p-5">
      <span class="font-greatvibes text-5xl mt-5">Ida</span>
      <span class="text-xl"
        >Los autobuses saldrán a las 18:00 de la tarde (pendiente de confirmar
        la hora exacta de salida) desde los siguientes puntos (se ruega
        puntualidad):</span
      >
      <span class="text-xl my-5"
        >– Centro Comercial de Vistahermosa – El Puerto de Santa María (Cádiz).</span
      >
      <span class="text-xl"
        >– Puerto Sherry – El Puerto de Santa María (Cádiz).</span
      >
    </div>
    <div class="col-span-1 flex flex-col justify-center items-center p-5">
      <span class="font-greatvibes text-5xl mt-5">Vuelta</span>
      <span class="text-xl"
        >Los autobuses saldrán desde la Bodega haciendo parada en el Centro
        Comercial de Vistahermosa y en Puerto Sherry, el horario será el
        siguiente (pendiente de confirmar la hora exacta de vuelta):</span
      >
      <span class="text-xl my-5"
        >– <span class="font-bold">2:00 am</span> desde la Bodega hasta el Puerto
        de Santa María.
      </span>
      <span class="text-xl"
        >– <span class="font-bold">6:00 am</span> desde la Bodega hasta el Puerto
        de Santa María.</span
      >
    </div>
  </div>
</section>
