<section
  class="w-full p-10 mb-10 bg-gradient-to-br from-slate-100 via-gray-300 to-[#78716c00]"
  id="list"
>
  <div class="grid grid-cols-1">
    <div class="col-span-1 text-center">
      <span class="text-4xl font-semibold font-greatvibes"
        >Vuestra presencia este día es nuestro mayor regalo pero si queréis
        contribuir a nuestro viaje de novios os dejamos aquí nuestro número de
        cuenta:</span
      >
      <br />
      <span class="text-3xl mt-5">ES86 0182 2222 1111 5555 1111</span>
    </div>
  </div>
</section>
