---
import WeddingListComponent from "@components/WeddingListComponent.astro";
import SectionTitle from "@components/SectionTitle.astro";
---

<section class="w-full sm:p-10 mb-10 p-8" id="list">
  <div class="grid grid-cols-1 bg-[#e5e0cdeb] rounded-xl">
    <SectionTitle title="Lista de bodas" />
    <div class="col-span-1 text-center">
      <div class="p-5">
        <span class="text-xl font-semibold font-salsa text-[#084520]"
          >Vuestra presencia este día es nuestro mayor regalo pero si queréis
          contribuir a nuestro viaje de novios os dejamos aquí nuestro número de
          cuenta y algunas sugerencias:</span
        >
      </div>
      <br />
      <div class="flex justify-center items-center sm:p-7 p-3">
        <WeddingListComponent />
      </div>
    </div>
  </div>
</section>
