---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { SEO } from "astro-seo";

import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Toda la información sobre nuestra boda, el 4 de mayo de 2024"
    />
    <meta
      property="og:image:secure_url"
      content="https://boda-pilly-luis.pages.dev/imgs/hero.png"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SEO
      title={title}
      description="Boda de Luis y Pilly"
      openGraph={{
        basic: {
          title: "Boda de Luis y Pilly",
          type: "Landing page",
          image: "https://boda-pilly-luis.pages.dev/imgs/hero.png",
        },
      }}
      twitter={{
        creator: "@angelangulo95",
      }}
      extend={{
        meta: [
          {
            name: "twitter:image",
            content: "https://boda-pilly-luis.pages.dev/imgs/hero.png",
          },
          {
            name: "twitter:title",
            content: "Boda de Luis y Pilly",
          },
          {
            name: "twitter:description",
            content:
              "Toda la información sobre nuestra boda, el 4 de mayo de 2024",
          },
        ],
      }}
    />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
    <style is:global>
      @font-face {
        font-family: "GreatVibes";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/GreatVibes-Regular.woff2") format("woff2");
      }
      @font-face {
        font-family: "Salsa";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("/fonts/Salsa-Regular.woff2") format("woff2");
      }
    </style>
  </body>
</html>
